*,
:after,
:before {
  box-sizing: border-box;
}

:root {
  --primary: #5f9ae0;
  --secondary: #ff7f50;
  --secondary-light: #ffa483;
  --white: #fff;
  --muted: #949494;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 0;
}

body {
  font-family: sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0 1rem;
}

button {
  background-color: var(--primary);
  border: 0;
  color: var(--white);
  flex-grow: 0;
  font-size: 1.2rem;
  line-height: 1;
  padding: 0.75rem 1rem;
  text-transform: uppercase;
}

button + button,
input + button {
  margin-left: 2px;
}

form {
  padding: 1rem 0;
}

input {
  background-color: var(--secondary-light);
  border: 2px solid var(--secondary);
  color: var(--white);
  flex-grow: 1;
  font-size: 1.2rem;
  padding: 0.75rem 1rem;
  width: 100%;
}

input::placeholder {
  color: var(--white);
}

input:focus,
input:hover {
  background-color: var(--secondary);
  outline: 0;
}

.form-horizontal {
  align-items: center;
  display: flex;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 0;
}

h1,
p {
  margin: 0;
}

.muted {
  color: var(--muted);
}

img {
  margin-bottom: 1rem;
  width: 100%;
}

.brand {
  align-items: center;
  display: flex;
  width: auto;
}

.brand img {
  height: 2rem;
  margin: 0 0.5rem 0 0;
  width: auto;
}

.brand h1 {
  font-weight: 200;
  letter-spacing: -1px;
  margin-right: 1rem;
  white-space: nowrap;
}

@media (min-width: 600px) {
  button + button,
  input + button {
    margin-left: 1rem;
  }

  .gallery {
    column-count: 2;
  }
}

@media (min-width: 1000px) {
  .gallery {
    column-count: 3;
  }
  header {
    align-items: center;
    flex-direction: row;
  }
}

@media (min-width: 1400px) {
  .gallery {
    column-count: 4;
  }
}
